<h2>Login</h2>

<%= form_tag sessions_path do %>
 <%= label_tag "username" %>
<%= text_field_tag :username %>
<%= label_tag "password" %>
<%= password_field_tag :password %>
<%= submit_tag "login" %>
<% end %>
<br>
<br>
<h3>...or create a free account</h3>
<%= link_to "Sign up", new_user_path %> 
