
<h2>Find a Movie</h2>

<%= form_tag(movies_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Movies" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
<br>

<% if @movies.blank? %>
  <h4>There are no movies named <%= params[:search] %>.</h4>
<% end %>
<% if params[:search] %>
  <% @movies.map do |movie| %>

    <% if Movie.find_by(apinum: movie[:apinum]) %>
      <h4><%= link_to movie[:title], movie_path(Movie.find_by(apinum: movie[:apinum]))  %></h4>
      <%= link_to (image_tag ("https://image.tmdb.org/t/p/w500/#{movie[:poster_path]}"), width:"50%"), movie_path(Movie.find_by(apinum: movie[:apinum]))%><br>
      <hr>

    <% else %>
      <h4><%= link_to movie[:title], new_movie_path(movie)  %></h4>
      <%= link_to (image_tag ("https://image.tmdb.org/t/p/w500/#{movie[:poster_path]}"), width:"50%"), new_movie_path(movie)%><br>
    <hr>
    
    <% end %>
  <% end %>
<% end %>
