<div class="container">
<div class="row">
	<div class="col-md">
<img src="https://image.tmdb.org/t/p/w500/<%=params[:poster_path]%>", width="90%"><br><br>
	</div>
	<div class="col-md">

<h2><%= params[:title] %></h2><br>
<%= link_to "add to my watchlist", {controller: 'user_movies', action: 'create', seen: false, title: @movie.title, release_date: @movie.release_date, genres: @movie.genres, poster_path: @movie.poster_path, apinum: @movie.apinum, overview: @movie.overview}, {class: "button", method: :post}%>&nbsp;&nbsp;&nbsp;
<%= link_to "Mark as seen", {controller: 'user_movies', action: 'create', seen: true, title: @movie.title, release_date: @movie.release_date, genres: @movie.genres, poster_path: @movie.poster_path, apinum: @movie.apinum, overview: @movie.overview}, {class: "button", method: :post} %><br><br>
<%= params[:overview] %><br>
		<br>
		<br>
<h4>Released: <%= params[:release_date] %></h4>
		<hr>
<h4>Reviews</h4>
This title doesn't have any reviews yet. Mark it as seen to write one.
	</div>
</div>
</div>