<div class="container">
<div class="row">
	<div class="col-md">

		<img src="https://image.tmdb.org/t/p/w500/<%=@movie.poster_path%>", width="90%"><br><br>
	</div>
	<div class="col-md">
		<h2><%= @movie.title %></h2><br>
		<% if current_user.has_reviewed?(@movie) %>
		<% elsif current_user.has_seen?(@movie) %>
		<%= link_to "review this movie", {controller: "reviews", action: "new", movie_id: @movie.id, user_id: current_user.id} %><br>
			<% elsif current_user.on_watchlist?(@movie)%>
			<% um = UserMovie.where("user_id = ? and movie_id = ?", current_user.id, @movie.id) %>
			<%= link_to "mark as seen", {controller: 'user_movies', action: 'update', seen: true, user_id: current_user.id, movie_id: @movie.id, apinum: @movie.apinum, id: um[0].id}, {method: :patch}%><br><br>
			<% else %>
				<%= link_to "add to my watchlist", {controller: 'user_movies', action: 'create', seen: false, user_id: current_user.id, movie_id: @movie.id, apinum: @movie.apinum}, {method: :post}%>&nbsp;&nbsp;&nbsp;
				<%= link_to "mark as seen", {controller: 'user_movies', action: 'create', seen: true, user_id: current_user.id, movie_id: @movie.id, apinum: @movie.apinum}, {method: :post}%><br><br>
			<% end %>
		<%= @movie.overview %>
		<br>
		<br>
		<p>Released: <%= @movie.release_date %></p>
		<hr>
		<h4>Reviews</h4>
		<% if @movie.reviews.length == 0 %>
		This title doesn't have any reviews yet. Mark it as seen to write one.
		<% else %>
		  <% @movie.reviews.each do |review| %>
		  <%= link_to review.user.username, user_path(review.user) %>
			 <% review.rating.to_i.times do %>
			          <img src="/assets/starfish.png" height="16px" >
			        <% end %> <br>
		  <%= review.created_at %><br>
		  <%= review.content %><br>
		  <p></p>
		  <% end %>
		<% end %>
	</div>
</div>
</div>
