
<% if logged_in? %>
<div class="container">
  <div class="row">
  	<div class="col-md" style="overflow:scroll;height:35rem;">
      <br>
  <h1>Hello, <%= current_user.username %></h1>
	<h4>Here's recent activity from your feed:</h4>

	<% current_user.following.reverse.each do |critic| %>
		<% critic.reviews.each do |review| %>
    <div class="card">
      <div class="card-body">
        <% if critic.profile_pic != nil %>
          <%= image_tag(critic.profile_pic, style:"max-height: 40px") %>
        <% else %>
          <img src="/assets/unknown user.png" height="40px" >
        <% end %>
      <b><%= link_to critic.username, user_path(critic) %></b>

        <% review.rating.to_i.times do %>
          <img src="/assets/starfish.png" height="16px" >
        <% end %>
        | <%= review.created_at %><br>

      <%= link_to review.movie.title, movie_path(review.movie) %><br>
			<%= review.content %>

      </div>
      </div>
		<% end %>
	<% end %>

</div>
<div class="col-md" style="overflow:scroll;height:35rem;">
  <br>
  <center><h4>Top Box Office Movies This Week:</center></h4>

   <% if logged_in? %>

     <% @movies.map do |movie| %>

       <% if Movie.find_by(apinum: movie[:apinum]) %>
         <center><h4><%= link_to movie[:title], movie_path(Movie.find_by(apinum: movie[:apinum]))  %></h4></center>
         <center><%= link_to (image_tag ("https://image.tmdb.org/t/p/w500/#{movie[:poster_path]}"), width:"40%"), movie_path(Movie.find_by(apinum: movie[:apinum]))%></center><br>
         <hr>

       <% else %>
         <center><h4><%= link_to movie[:title], new_movie_path(movie)  %></center></h4>
         <center><%= link_to (image_tag ("https://image.tmdb.org/t/p/w500/#{movie[:poster_path]}"), width:"40%"), new_movie_path(movie)%></center><br>
       <hr>

       <% end %>
     <% end %>
   <% end %>
</div>
</div>
</div>

<% else %>
  <h1>Hello. Please <%= link_to "Log In", login_path %>  or <%= link_to "Sign Up", new_user_path %></h1>
<% end %>
