
<% if logged_in? %>
  <h1>Hello, <%= current_user.username %></h1>
	<h4>Here's recent activity from your feed:</h4>

	<% current_user.following.each do |critic| %>
		<% critic.reviews.each do |review| %>
			<b><%= link_to critic.username, user_path(critic) %></b> "<%= review.rating %> out of 5"<br>
			<%= link_to review.movie.title, movie_path(review.movie) %><br>
			<%= review.content %>
		<% end %>
	<% end %>
<% else %>
  <h1>Hello. Please <%= link_to "Log In", login_path %>  or <%= link_to "Sign Up", new_user_path %></h1>
<% end %>



