
<h2>Find a Favorite Critic</h2>

<%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
<br>
<% if @users.blank? %>
  <h4>There are no critics named <%= params[:search] %>.</h4>
<% end %>
<% if params[:search] %>
  <% @users.each do |person| %>
    <% if person.profile_pic != nil %>
		<%= image_tag(person.profile_pic, style:"max-height: 50px") %>
	<% else %>
		<img src="/assets/unknown user.png" height="50px" >
	<% end %>
	<%= link_to person.username, user_path(person)  %>     |      make a favorite critic <%= link_to "add", relationships_path(followed_id: person.id), method: :post %><br>
  <% end %>
<% end %>



	