<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(function(){
        $('a').each(function(){
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active'); $(this).parents('li').addClass('active');
            }
        });
    });
</script>

<html>
<head>
<style>

div.space {
  word-spacing: 50px;
}
/* visited link
a:link, a:visited {
   background-color: #f44336;
   color: white;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}

a:hover, a:active {
   background-color: red;
}*/

#log_button {
  float: right;
  word-spacing: 8px;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #227;
}

li {
   float: left;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 20px;
   text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
   background-color: #190;
}

.active {
    background-color: white;
}

[data-role=navbar] {
     border-radius: 30px;
}

</style>
</head>
</html>

  <nav class="navbar navbar-expand-lg navbar-light" >
<a class="navbar-brand" href="/">
      <img src="/assets/mediaoceanlogo.gif" height="85" alt="">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >

      <div class="navbar-nav">


      <a class="nav-item nav-link" href="/">HOME</a>
      <%=link_to "MOVIES", movies_path, {class: "nav-item nav-link"} %>
      <%=link_to "USERS", users_path, {class: "nav-item nav-link"} %>
      <% if logged_in?%>
        <%=link_to "PROFILE", user_path(current_user), {class: "nav-item nav-link"} %>
      <%else%>
      <%end%>
      <%=link_to "ABOUT", about_path, {class: "nav-item nav-link"} %>
      <% if logged_in? %>
        <%= link_to "LOG OUT", logout_path,  {class: "nav-item nav-link", method: :delete} %>
      <% else %>
        <%= link_to "LOG IN", login_path, {class: "nav-item nav-link"} %>
      <% end %>
    </div>
  </div>
</nav>
