<!DOCTYPE html>
<html>
  <head>
    <%= image_tag("mediaoceanlogo.png", alt: "logo") %>

    <title>MediaOcean</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
      <p>Hello, <%= current_user.username %>
        <%= button_to "Log Out", logout_path, method: :delete %>
        <% else %>
        <%= link_to "Log In", login_path %> <%= link_to "Sign Up", new_user_path %>
        <% end %>

        <%= render 'layouts/navigation' %>
    </header>
    <%= yield %>
  </body>
</html>
